hr {
  border-width: 1px;
  margin: 0px;
}

body {
  height: fit-content;
  background: transparent url(imgs/cursor.svg) space 0 0;
}

.header{
		/*padding: 20px 0 20px 0;*/
	top: 0px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px 0px #707070;
	position: fixed;
	width: 98.5%;
	padding-top: 20px;
	user-select: none;
	z-index: 10;
	}
	
	.allmenu{
    display: none;
    background-color: #eba435;
    border-radius: 10px;
    min-width: 120px;
    position: fixed;
    z-index: 11;
    margin-top: 45px; /*delete this if you want to make it floating on the header*/
	opacity: 0.9;
	cursor:url("imgs/cursor.svg"),default;
	}
	.allmenu a{
    text-decoration: none;
    font-size: 24px;
    color:black;
    text-shadow: 2px 0px 0px #e86944;
    padding:1px 120px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	cursor:url("imgs/cursor.svg"),default;
	-webkit-user-drag: none;
	}
	.allmenu a:hover{
	background-color:#eb7135;
	border-radius:10px;
	cursor: url("imgs/favicon.svg"),auto;
	
	
    }
	.menubtnimg{
	 transition:transform 0.4s ease;
	}
	.menubtnimg:hover{
		cursor:url("imgs/cursor.svg"),default;
		border:1px thin #000000;
		transform: rotate(-360deg);
	}

	.menubtn:hover .allmenu{
		display:block;
		animation-name:menudrop;
		animation-duration: 0.3s;        

	}
	.menubtn{
    float: left;
    padding-left: 10px;
    z-index: 1;
	position: relative;
	top: 0px;
	-webkit-user-drag: none;
	}
	.loginbtn{
		position: relative;
		float: right;
		z-index: 1;
		-webkit-user-drag: none;
		user-drag:none;
		top: 5px;
		left:-20px;
	}
	.loginbtnimg{
		transition: transform 0.4s ease;
	}
	.loginbtn:hover .loginbtnimg{
		transform: rotate(-360px);
	}
	.logo{
	-webkit-user-drag: none;
	user-drag:none;
	user-select: none;
	z-index: 1;
	}
	.logo:hover{
		cursor:grab ;
	}
	
	@keyframes menudrop{
		0% {opacity: 0;}
		100% {}
	}
.registration {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
.registration .fform {
  padding: 20px 20px 50px 20px;
  display: inline-block;
  width: fit-content;
  border-radius: 15px;
  line-height: 50px;
}
.fform{
		animation-name:menudrop;
		animation-duration:0.6s;
		background-color:rgba(238, 238, 255,0.6);
		transition:background-color 0.4s ease;
		opacity:0.9;
	}
.fform:hover {
	background-color:rgba(238, 238, 255,0.9);
	opacity:1;
	
}
input[type="submit"] {
  position:relative;
  margin-top: 3px;
  cursor: pointer;
  background-color: #eb7135;
  color: white;
  border: 1px solid black;
  border-radius: 12px;
  transition:background-color 0.4s ease;
  width:450px;
  left:112px;
  
}

input[type="submit"]:hover {
  background-color: #Dd6429;
}

.p_signup {
  text-align: center;
text-shadow: 1px 1px 0px #eb7135;
  color: black;
  font-size: 28px;
  width: 15%;
  border: black 2px solid;
  background-color: rgba(235, 164, 53, 0.781);
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  transition:background-color 0.4s ease-in;
  user-select:none;
  -webkit-user-select:none;
  height:50px;
}
.p_signup:hover{
	background-color: rgba(235, 113, 53, 0.781);
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="number"] {
  height: 50px;
  font-size: 20px;
   border: 1px solid black;
  border-radius: 12px;
  outline:none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  color: black;
  width: 700px;
  background-color: #eba435;
  transition: background-color 0.4s ease-in;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
	background-color:#Ebc835;
}
label{
	font-size: 20px;
	font-family:sans-serif;
	color:black;
	text-shadow:0px 1px 0px white;
	user-select:none;
	-webkit-user-select:none;
}
.footer{
		text-align:center;
		background-color:#eba435;
		text-shadow: 0px 2px 0px #eb7135; 
		border-radius: 2px;
		
	}
	
	#teamname{
		text-shadow: 0px 2px 2px #Ebc835;
		border-radius:10px;
		animation-name: glow;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	#teamname:hover{
		font-size: 24px;
		background-color: rgba(235, 200, 53,0.4);
		color:#eb7135;
		text-shadow: 0px 2px 2px black;
		animation-timing-function:linear;
	}
	@keyframes glow{
		0% {text-shadow: 0px 0px 5px red;}
		100%{text-shadow: 0px 0px 3px #eb7135;}
	}
