hr {
  border-width: 1px;
  margin: 0px;
}

body {
  background-color: #Fdfcfa;
  height: fit-content;
  cursor:url("imgs/cursor.svg"),default;
}
.header{
		/*padding: 20px 0 20px 0;*/
	top: 0px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px 0px #707070;
	position: fixed;
	width: 98.5%;
	padding-top: 20px;
	user-select: none;
	z-index: 10;
	}
	
	.allmenu{
    display: none;
    background-color: #eba435;
    border-radius: 10px;
    min-width: 120px;
    position: fixed;
    z-index: 11;
    margin-top: 45px; /*delete this if you want to make it floating on the header*/
	opacity: 0.9;
	cursor:url("imgs/cursor.svg"),default;
	}
	.allmenu a{
    text-decoration: none;
    font-size: 24px;
    color:black;
    text-shadow: 2px 0px 0px #e86944;
    padding:1px 120px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	cursor:url("imgs/cursor.svg"),default;
	-webkit-user-drag: none;
	}
	.allmenu a:hover{
	background-color:#eb7135;
	border-radius:10px;
	cursor: url("imgs/favicon.svg"),auto;
	
	
    }
	.menubtnimg{
	 transition:transform 0.4s ease;
	}
	.menubtnimg:hover{
		cursor:url("imgs/cursor.svg"),default;
		border:1px thin #000000;
		transform: rotate(-360deg);
	}

	.menubtn:hover .allmenu{
		display:block;
		animation-name:menudrop;
		animation-duration: 0.3s;        

	}
	.menubtn{
    float: left;
    padding-left: 10px;
    z-index: 1;
	position: relative;
	top: 0px;
	-webkit-user-drag: none;
	}
	.loginbtn{
		position: relative;
		float: right;
		z-index: 1;
		-webkit-user-drag: none;
		user-drag:none;
		top: 5px;
		left:-20px;
	}
	.loginbtnimg{
		transition: transform 0.4s ease;
	}
	.loginbtn:hover .loginbtnimg{
		transform: rotate(-360px);
	}
	.logo{
	-webkit-user-drag: none;
	user-drag:none;
	user-select: none;
	z-index: 1;
	}
	.logo:hover{
		cursor:grab ;
	}
	
	@keyframes menudrop{
		0% {opacity: 0;}
		100% {}
	}



#user_name {
/* width: fit-content;
  margin-top: -50px;
  padding-left: 100px;
  padding-right: 100px;
  color: color;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.205);
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;*/
 width: fit-content;
  padding-left: 100px;
  padding-right: 100px;
  color: black;
  font-size: 30px;
  /*background-color: rgba(235, 164, 53, 0.781);*/
  background-color: #eba435;
  transition:background-color 0.4s ease-in;
  border: 2px solid black;
  border-radius:20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:150px;
  user-select:none;
  opacity:0.89;
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#user_name:hover{
	/*background-color: rgba(235, 113, 53, 0.781);*/
	background-color:#D3932F;
}
.p_User_Profile {
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 25px;
  background-color: rgba(235, 164, 53, 0.781);
  border-radius: 10%;
  border: 2px solid black;
  margin: 30px auto 2px auto;
  transition:background-color 0.4s ease-in;
  width:300px;
  user-select:none;
}
.p_User_Profile:hover{
	background-color: rgba(235, 113, 53, 0.781);
}
.edit {
  border-radius: 20px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  animation-name:menudrop;
  animation-duration:0.6s;
  background-color:rgba(238, 238, 255,0.2);
  transition:background-color 0.4s ease;
  opacity:1;
  cursor:default;
}
.edit:hover {
	background-color:rgba(238, 238, 255,0.94);	
}


.p_signup {
  text-align: center;
  color: black;
  font-size: 30px;
  width: 15%;
  border: black 3px solid;
  background-color: rgba(235, 164, 53, 0.781);
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
}
label,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="number"] {
  width: 700px;
  height: 40px;
  font-size: 20px;
  color: black;
  border-radius: 12px;
  outline:none;
  user-select:none;
  transition: background-color 0.4s ease-in;
  cursor:url("imgs/fedupcursor.svg"),default;
  margin-bottom:10px;
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  color: black;
   background-color: #eba435;
    border: 1px solid black;
	margin-left:20px;
}
#newpass{
	cursor:text;
}
input[type="text"]:focus {
	background-color:#Ebc835;
}
input[type="submit"] {
	width:300px;
	color:white;
	background-color: #eb7135;
  transition:background-color 0.4s ease;
  margin: 10px 220px 10px;
  cursor: pointer;
  border: 1px solid black;
}
input[type="submit"]:hover {
  background-color: #Dd6429;
}
label{
	font-size: 20px;
	font-family:sans-serif;
	color:black;
	text-shadow:0px 1px 0px white;
	user-select:none;
	-webkit-user-select:none;
	margin-left:20px;
}
.footer{
		text-align:center;
		background-color:#eba435;
		text-shadow: 0px 2px 0px #eb7135; 
		border-radius: 2px;
		
	}
	
	#teamname{
		text-shadow: 0px 2px 2px #Ebc835;
		border-radius:10px;
		animation-name: glow;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	#teamname:hover{
		font-size: 24px;
		background-color: rgba(235, 200, 53,0.4);
		color:#eb7135;
		text-shadow: 0px 2px 2px black;
		animation-timing-function:linear;
	}
	@keyframes glow{
		0% {text-shadow: 0px 0px 5px red;}
		100%{text-shadow: 0px 0px 3px #eb7135;}
	}
